<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <nav>
      Navbar

    </nav>
    <p id="top">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. At iure ipsum,
      eos ipsam mollitia similique repudiandae temporibus quisquam ut voluptas
      quasi tenetur tempora veritatis, ea facere recusandae quos illum vitae.F
    </p>
    <div class="absolute">absolute</div>
    <div class="parent">
      <img
        height="50px"
        width="50px"
        src="../../HTML/yeshi-kangrang-wTD1-_u8x1g-unsplash.jpg"
        alt=""
      />
      <img
        class="img2"
        height="50px"
        width="50px"
        src="../../../wallpaper.png"
        alt=""
      />
      <!-- <div class="child-div"></div> -->
    </div>

    <div class="parent2">
      <img
        height="100px"
        src="../../HTML/yeshi-kangrang-wTD1-_u8x1g-unsplash.jpg"
        alt=""
      />
      <div class="child-div">
        Lorem, ipsum is placeat minima aspernatur repellendus rerum deleniti
        animi quasi earum provident doloremque blanditiis impedit? Quaerat
        consequuntur sed fuga. Consequuntur!
      </div>
    </div>

    <div class="fixed-div">
      <a href="#top">top</a>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magni
      autem temporibus debitis sint officiis cumque, quos sit quidem veniam.
      Perspiciatis accusamus nam officia sapiente esse hic dolorum cum atque?
    </p>
  </body>
</html>
