.parent{
    height: 100vh;
    width: 100vw;
    /* background-color: red */
    
}

.div1{
    width: 70%;
    background-color: rgb(255, 175, 90);
    padding: 5px;
    height: 70%;
    min-height: 200px;
    max-height: 300px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    border: 2px solid black ;  
    border-width: 2px 4px 6px 8px;
    border-color:   green orange purple brown;
    border-style: dotted dashed solid groove;
  
}
::-webkit-scrollbar-track {
    background: black;
}
p{
    background-color: blanchedalmond;
    width: 70%;
    min-width: 200px;
    max-width: 500px;
}
.p1{
    border: 1px solid black;
    /* padding: 15px; */
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px; */
    /* padding-right: 15px; */
    padding: 5px 20px;
    /* padding: 5px 10px 15px 20px; */
    border-radius: 5px 15px 20px 50%;
}

.div2{
    border: 1px solid black;
    -moz-box-shadow: inset 5px 15px 10px black;
    width: 50%;
}
.div3{
    background-color: burlywood;
    border: 4px solid rgb(255, 0, 0);
    padding: 15px 5px ;
    /* margin: 15px 5px ; */
    width: 40%;
    
    margin: 1px auto 1px auto;
    /* border-image: url('./download.png') 11 stretch; */
}

li{
    display: block;
}
.li1{
    /* display: none; */
    visibility: hidden;
}

